## 임시 모델 작성

### 1.1 import packages and modules

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.cluster import KMeans
import warnings

warnings.filterwarnings(action = 'ignore')

### 1.2 Read data

In [2]:
df = pd.read_csv('tmp_data.csv')
df

    Unnamed: 0         A         B         C         D
0          사직동  0.756808  0.837151  0.367741  0.856218
1          삼청동  0.827742  0.304679  0.923518  0.000679
2          부암동  0.568917  0.924518  0.056251  0.260088
3          평창동  0.580705  0.584580  0.844815  0.060866
4          무악동  0.139818  0.303443  0.598331  0.312935
..         ...       ...       ...       ...       ...
421       성내3동  0.080882  0.473552  0.109079  0.319963
422       둔촌1동  0.879560  0.419096  0.563044  0.629431
423       둔촌2동  0.984323  0.984479  0.826605  0.679809
424       상일1동  0.479461  0.830551  0.686072  0.301943
425       상일2동  0.115110  0.631008  0.212660  0.261508

[426 rows x 5 columns]

In [3]:
df.rename(columns={'Unnamed: 0':'동이름'},inplace=True)

In [4]:
df.set_index('동이름')

             A         B         C         D
동이름
사직동   0.756808  0.837151  0.367741  0.856218
삼청동   0.827742  0.304679  0.923518  0.000679
부암동   0.568917  0.924518  0.056251  0.260088
평창동   0.580705  0.584580  0.844815  0.060866
무악동   0.139818  0.303443  0.598331  0.312935
...        ...       ...       ...       ...
성내3동  0.080882  0.473552  0.109079  0.319963
둔촌1동  0.879560  0.419096  0.563044  0.629431
둔촌2동  0.984323  0.984479  0.826605  0.679809
상일1동  0.479461  0.830551  0.686072  0.301943
상일2동  0.115110  0.631008  0.212660  0.261508

[426 rows x 4 columns]

In [5]:
idx = df['동이름']

In [6]:
data = df[['A','B','C','D']].values

### 1.3 K-means clustering

In [7]:
kmeans = KMeans(n_clusters=10, init='k-means++',max_iter=300,random_state=0)
kmeans.fit(data)

KMeans(n_clusters=10, random_state=0)

In [8]:
kmeans.labels_

array([9, 3, 0, 8, 4, 2, 0, 2, 5, 9, 4, 9, 1, 9, 2, 0, 0, 8, 0, 0, 3, 0,
       3, 3, 6, 8, 8, 5, 9, 8, 1, 8, 0, 9, 4, 5, 1, 9, 2, 8, 3, 8, 8, 5,
       3, 5, 6, 9, 8, 7, 3, 2, 1, 3, 7, 0, 9, 0, 7, 8, 9, 3, 3, 7, 5, 0,
       8, 9, 1, 7, 9, 5, 9, 2, 7, 6, 0, 2, 8, 0, 7, 6, 7, 6, 4, 9, 7, 1,
       4, 8, 7, 3, 7, 6, 5, 4, 8, 7, 3, 2, 3, 2, 5, 6, 3, 3, 6, 1, 2, 6,
       9, 5, 0, 9, 6, 7, 1, 9, 7, 5, 9, 8, 8, 3, 1, 8, 2, 7, 5, 2, 1, 0,
       4, 6, 4, 0, 5, 1, 0, 2, 8, 6, 9, 8, 8, 2, 3, 8, 2, 3, 8, 9, 9, 1,
       4, 0, 0, 8, 4, 0, 6, 3, 6, 8, 0, 1, 1, 7, 5, 3, 3, 2, 1, 7, 3, 4,
       9, 5, 2, 6, 3, 9, 8, 5, 7, 2, 4, 7, 4, 0, 5, 0, 5, 2, 1, 8, 7, 2,
       2, 6, 1, 8, 6, 2, 1, 0, 0, 8, 4, 7, 5, 3, 8, 0, 4, 3, 7, 4, 7, 6,
       7, 3, 3, 1, 3, 1, 2, 5, 7, 4, 3, 8, 8, 2, 8, 3, 9, 8, 2, 6, 9, 7,
       6, 3, 6, 7, 8, 6, 3, 5, 4, 6, 0, 2, 8, 7, 0, 0, 7, 6, 5, 2, 1, 3,
       6, 8, 2, 6, 2, 9, 8, 7, 7, 8, 6, 1, 4, 3, 3, 3, 2, 8, 4, 9, 3, 1,
       6, 1, 6, 6, 1, 2, 7, 5, 8, 4, 6, 5, 1, 1, 2, 5, 2, 2, 2, 9, 8, 4,
       9, 0, 2, 5, 5, 5, 8, 9, 0, 0, 7, 6, 8, 2, 0, 4, 1, 6, 4, 9, 4, 1,
       5, 0, 2, 5, 7, 1, 5, 8, 6, 5, 7, 7, 2, 1, 0, 9, 0, 9, 9, 3, 2, 4,
       5, 5, 8, 1, 4, 8, 4, 1, 8, 8, 9, 7, 8, 8, 3, 0, 0, 6, 4, 1, 0, 5,
       6, 7, 0, 8, 7, 0, 6, 9, 5, 6, 2, 9, 4, 2, 1, 2, 9, 4, 5, 8, 8, 7,
       3, 8, 7, 3, 1, 2, 1, 6, 4, 4, 5, 8, 6, 3, 9, 3, 9, 6, 7, 0, 9, 4,
       2, 6, 9, 0, 1, 1, 8, 0])

In [92]:
kmeans.cluster_centers_

array([[0.26248486, 0.71725842, 0.25991842, 0.23096239],
       [0.71037611, 0.57951719, 0.77791491, 0.72287369],
       [0.61998756, 0.21350216, 0.31799381, 0.81862763],
       [0.79418121, 0.28185708, 0.77625202, 0.25207544],
       [0.23208023, 0.22804119, 0.6620739 , 0.17585311],
       [0.64812725, 0.2643398 , 0.18652889, 0.27078987],
       [0.20453383, 0.7564582 , 0.34186734, 0.75943043],
       [0.18895013, 0.28298571, 0.7142432 , 0.68430206],
       [0.55505692, 0.79111712, 0.69942189, 0.20547316],
       [0.72356373, 0.76736332, 0.24771773, 0.65957311]])

In [9]:
tmp_df = df.copy()

In [10]:
tmp_df['km_cluster'] = kmeans.labels_
tmp_df.set_index('동이름',inplace=True)

In [11]:
tmp_df.groupby('km_cluster').count()

             A   B   C   D
km_cluster
0           44  44  44  44
1           39  39  39  39
2           45  45  45  45
3           43  43  43  43
4           34  34  34  34
5           38  38  38  38
6           42  42  42  42
7           42  42  42  42
8           57  57  57  57
9           42  42  42  42

### 1.4 유저 데이터 입력

In [12]:
user = [1,6,2,2]

In [13]:
user1 = [8,4,5,6]

In [14]:
user2 = [4,8,6,3]

In [15]:
user3 = [1,3,5,3]

**유저 데이터 가공을 통해 군집화에 적합한 형태로 변형**
- 임시로 10으로 나눈 값을 사용

In [16]:
user_td = [x/10 for x in user]
user_td

[0.1, 0.6, 0.2, 0.2]

In [17]:
user_sum = [user, user1, user2, user3]

In [18]:
user_name = ['user', 'user1', 'user2', 'user3']

In [19]:
user_all = []
for u in user_sum:
    user_tmp = [x/10 for x in u]
    user_all.append(user_tmp)
user_all

[[0.1, 0.6, 0.2, 0.2],
 [0.8, 0.4, 0.5, 0.6],
 [0.4, 0.8, 0.6, 0.3],
 [0.1, 0.3, 0.5, 0.3]]

#### 2.1 유저 데이터 예측

In [20]:
user_df = pd.DataFrame(user_all,columns=['A','B','C','D'],index=user_name)

In [21]:
user_df

         A    B    C    D
user   0.1  0.6  0.2  0.2
user1  0.8  0.4  0.5  0.6
user2  0.4  0.8  0.6  0.3
user3  0.1  0.3  0.5  0.3

In [22]:
cluster_user = kmeans.predict(user_df)

In [23]:
user_df['km_cluster'] = cluster_user

In [24]:
user_df

         A    B    C    D  km_cluster
user   0.1  0.6  0.2  0.2           0
user1  0.8  0.4  0.5  0.6           1
user2  0.4  0.8  0.6  0.3           8
user3  0.1  0.3  0.5  0.3           4

### 2.2 지역 추출

In [25]:
tmp_df['km_cluster']

동이름
사직동     9
삼청동     3
부암동     0
평창동     8
무악동     4
       ..
성내3동    0
둔촌1동    1
둔촌2동    1
상일1동    8
상일2동    0
Name: km_cluster, Length: 426, dtype: int32

In [27]:
rc_area = user_df['km_cluster'].loc['user'] # 'user'라는 사람에 대한 추천 군집

In [28]:
rc_seoul = tmp_df[tmp_df['km_cluster'] == rc_area]
rc_seoul # 추천 서울 동

               A         B         C         D  km_cluster
동이름
부암동     0.568917  0.924518  0.056251  0.260088           0
가회동     0.299609  0.896194  0.016087  0.418957           0
숭인2동    0.555554  0.918274  0.311934  0.269431           0
청운효자동   0.561298  0.636876  0.132807  0.181351           0
회현동     0.371195  0.761252  0.070729  0.262033           0
명동      0.219401  0.852991  0.295209  0.304289           0
장충동     0.091661  0.951411  0.238522  0.278679           0
후암동     0.151136  0.921113  0.190285  0.133659           0
금호4가동   0.452333  0.833055  0.425167  0.195124           0
성수1가2동  0.250549  0.554254  0.270589  0.275894           0
화양동     0.362933  0.672369  0.440673  0.406429           0
자양1동    0.035853  0.906346  0.427117  0.097916           0
자양4동    0.297192  0.996923  0.304814  0.356100           0
안암동     0.230126  0.400236  0.371868  0.428681           0
번2동     0.026299  0.390706  0.047219  0.396831           0
수유3동    0.178293  0.714533  0.494037  0.321920           0
송중동     0.373097  0.904964  0.143889  0.278103           0
도봉1동    0.385272  0.533920  0.035367  0.473486           0
도봉2동    0.028611  0.649457  0.605258  0.419024           0
월계3동    0.331136  0.752199  0.169926  0.168429           0
중계1동    0.007730  0.597443  0.019849  0.076818           0
불광2동    0.458787  0.691933  0.422947  0.251568           0
역촌동     0.151005  0.795014  0.375806  0.061414           0
연희동     0.030236  0.572446  0.239406  0.234497           0
용강동     0.062302  0.543877  0.389867  0.002994           0
망원2동    0.288515  0.598628  0.257140  0.019074           0
가양3동    0.523189  0.891594  0.315296  0.339788           0
방화2동    0.443516  0.531267  0.451242  0.112986           0
방화3동    0.215343  0.901743  0.356545  0.004154           0
사당1동    0.143960  0.839608  0.230365  0.050706           0
흑석동     0.019690  0.379582  0.206752  0.440771           0
노량진1동   0.143670  0.770281  0.113674  0.250952           0
낙성대동    0.338797  0.718070  0.113583  0.275108           0
난향동     0.248753  0.862238  0.359349  0.287560           0
잠원동     0.448365  0.604109  0.019813  0.206705           0
반포1동    0.149837  0.689409  0.612368  0.007009           0
역삼2동    0.197983  0.442481  0.126607  0.502508           0
도곡1동    0.317247  0.620659  0.438417  0.002022           0
개포4동    0.482691  0.549356  0.377791  0.103401           0
수서동     0.074520  0.940206  0.007268  0.072503           0
청담동     0.559865  0.796001  0.332002  0.244067           0
암사3동    0.276879  0.947273  0.300837  0.107844           0
성내3동    0.080882  0.473552  0.109079  0.319963           0
상일2동    0.115110  0.631008  0.212660  0.261508           0

In [29]:
rc_list = rc_seoul.index.tolist() # 추천 리스트

In [82]:
len(rc_list)

44

### 3. Cosine 유사도를 통해 유저 데이터와 비교
- cosine 유사도에서는 각 feature를 벡터 요소로 판단
- 각 feature에 대한 크기와 관계없이 전체적인 벡터의 방향을 비교하게 되어 비율의 유사도는 측정할 수 잇을 듯
- 어느 한 feature에 대한 가중치가 큰 것을 요구할 경우에 이를 반영함에 있어서 오류가 있을 수도 있을 것 같다

In [30]:
from sklearn.metrics.pairwise import cosine_similarity

con_data = pd.concat([user_df.loc[['user']],rc_seoul])
con_data

               A         B         C         D  km_cluster
user    0.100000  0.600000  0.200000  0.200000           0
부암동     0.568917  0.924518  0.056251  0.260088           0
가회동     0.299609  0.896194  0.016087  0.418957           0
숭인2동    0.555554  0.918274  0.311934  0.269431           0
청운효자동   0.561298  0.636876  0.132807  0.181351           0
회현동     0.371195  0.761252  0.070729  0.262033           0
명동      0.219401  0.852991  0.295209  0.304289           0
장충동     0.091661  0.951411  0.238522  0.278679           0
후암동     0.151136  0.921113  0.190285  0.133659           0
금호4가동   0.452333  0.833055  0.425167  0.195124           0
성수1가2동  0.250549  0.554254  0.270589  0.275894           0
화양동     0.362933  0.672369  0.440673  0.406429           0
자양1동    0.035853  0.906346  0.427117  0.097916           0
자양4동    0.297192  0.996923  0.304814  0.356100           0
안암동     0.230126  0.400236  0.371868  0.428681           0
번2동     0.026299  0.390706  0.047219  0.396831           0
수유3동    0.178293  0.714533  0.494037  0.321920           0
송중동     0.373097  0.904964  0.143889  0.278103           0
도봉1동    0.385272  0.533920  0.035367  0.473486           0
도봉2동    0.028611  0.649457  0.605258  0.419024           0
월계3동    0.331136  0.752199  0.169926  0.168429           0
중계1동    0.007730  0.597443  0.019849  0.076818           0
불광2동    0.458787  0.691933  0.422947  0.251568           0
역촌동     0.151005  0.795014  0.375806  0.061414           0
연희동     0.030236  0.572446  0.239406  0.234497           0
용강동     0.062302  0.543877  0.389867  0.002994           0
망원2동    0.288515  0.598628  0.257140  0.019074           0
가양3동    0.523189  0.891594  0.315296  0.339788           0
방화2동    0.443516  0.531267  0.451242  0.112986           0
방화3동    0.215343  0.901743  0.356545  0.004154           0
사당1동    0.143960  0.839608  0.230365  0.050706           0
흑석동     0.019690  0.379582  0.206752  0.440771           0
노량진1동   0.143670  0.770281  0.113674  0.250952           0
낙성대동    0.338797  0.718070  0.113583  0.275108           0
난향동     0.248753  0.862238  0.359349  0.287560           0
잠원동     0.448365  0.604109  0.019813  0.206705           0
반포1동    0.149837  0.689409  0.612368  0.007009           0
역삼2동    0.197983  0.442481  0.126607  0.502508           0
도곡1동    0.317247  0.620659  0.438417  0.002022           0
개포4동    0.482691  0.549356  0.377791  0.103401           0
수서동     0.074520  0.940206  0.007268  0.072503           0
청담동     0.559865  0.796001  0.332002  0.244067           0
암사3동    0.276879  0.947273  0.300837  0.107844           0
성내3동    0.080882  0.473552  0.109079  0.319963           0
상일2동    0.115110  0.631008  0.212660  0.261508           0

In [32]:
rc_sim = cosine_similarity(con_data,con_data) # 유사도 행렬

In [41]:
sim_matrix = pd.DataFrame(rc_sim,columns=con_data.index).loc[[0]].T

In [55]:
rank = sim_matrix[0].sort_values(ascending=False) # 유사도 순서로 정렬

In [61]:
rank[1:4].index.tolist() # 1~3 위

['상일2동', '명동', '장충동']

### 4. 유사도 측정

- Enclidean
- Manhattan
- Standardized
- Mahalanobis

In [62]:
def euclidean_similarity(x,y):
    distance = np.sqrt(sum((x-y)**2))
    return distance

In [68]:
user_df.loc['user']

A             0.1
B             0.6
C             0.2
D             0.2
km_cluster    0.0
Name: user, dtype: float64

In [67]:
rc_seoul.iloc[0]

A             0.568917
B             0.924518
C             0.056251
D             0.260088
km_cluster    0.000000
Name: 부암동, dtype: float64

In [69]:
euclidean_similarity(user_df.loc['user'],rc_seoul.iloc[0])

0.5911596553770069

In [85]:
eu_sim = []
for i in range(len(rc_seoul)):
    eu_sim.append(euclidean_similarity(user_df.loc['user'],rc_seoul.iloc[i]))
    
eu_df = pd.DataFrame(eu_sim, index=rc_list)

In [87]:
eu_df[0].sort_values(ascending=False)

부암동       0.591160
숭인2동      0.571120
가양3동      0.544931
청담동       0.518901
자양4동      0.481442
금호4가동     0.478724
도봉2동      0.468772
청운효자동     0.467994
반포1동      0.466659
가회동       0.457538
방화2동      0.439798
개포4동      0.435842
불광2동      0.435367
도봉1동      0.433180
송중동       0.420516
화양동       0.418219
암사3동      0.412972
수서동       0.412057
방화3동      0.408919
자양1동      0.399957
잠원동       0.392285
도곡1동      0.379027
안암동       0.372386
역삼2동      0.362368
장충동       0.362262
난향동       0.352072
수유3동      0.347231
회현동       0.346566
흑석동       0.336230
번2동       0.333647
후암동       0.331999
명동        0.313372
역촌동       0.301240
낙성대동      0.289954
사당1동      0.287324
용강동       0.281837
월계3동      0.280160
망원2동      0.267468
중계1동      0.236956
노량진1동     0.202363
성내3동      0.197515
성수1가2동    0.188415
연희동       0.091483
상일2동      0.071647
Name: 0, dtype: float64

In [90]:
from scipy.spatial import distance

In [114]:
var_list = [np.var(tmp_df['A']),np.var(tmp_df['B']),np.var(tmp_df['C']),np.var(tmp_df['D'])]
var_list

[0.0800544027855339,
 0.08479441128043534,
 0.08218365028650323,
 0.0886007888117046]

In [118]:
user_d = user_df.loc['user'].values.tolist()[:4]

In [119]:
seu_sim = []
for i in range(len(rc_seoul)):
    area_d = rc_seoul.iloc[i].values.tolist()[:4]
    seu_sim.append(distance.seuclidean(user_d,area_d,var_list)) # 각 피처별 분산 필요
    
seu_sim

[2.069016249286848,
 1.576390230101502,
 1.9984627190640283,
 1.6531895045864702,
 1.2133117754255922,
 1.0797960209790791,
 1.2430358613958519,
 1.139966317879292,
 1.6758291349541996,
 0.658360386612433,
 1.4529654410448127,
 1.379649666986231,
 1.6590442400752727,
 1.2774119514549447,
 1.1426867194866002,
 1.2045932029749304,
 1.461371635525306,
 1.497340363888477,
 1.6224414470945765,
 0.9812160102283904,
 0.8201138056543162,
 1.5305251845994785,
 1.0362672197111513,
 0.319492625641826,
 0.9651902180318968,
 0.9236494088235698,
 1.903189451161915,
 1.5437876132689388,
 1.4039360928867335,
 0.9818326334617283,
 1.1438439891121799,
 0.6969590592498934,
 1.01550745260003,
 1.2177474242163013,
 1.3826464209179736,
 1.6170301818110422,
 1.2292006693128124,
 1.3147712937960918,
 1.5328406169360747,
 1.4172219546996068,
 1.824456696814776,
 1.4257065155694824,
 0.6753825464697644,
 0.24257242542925483]

In [ ]:
distance.mahalanobis() # 공분산 행렬 필요