In [2]:
import pandas as pd
import numpy as np
import random

In [3]:
tmp = []
for i in range(426):
    tmp_1 = []
    for j in range(22):
        x = random.randrange(1,11)
        tmp_1.append(x/10)
    tmp.append(tmp_1)

In [5]:
tmp_df = pd.read_csv('tmp_data.csv')
tmp_df

    Unnamed: 0         A         B         C         D
0          사직동  0.756808  0.837151  0.367741  0.856218
1          삼청동  0.827742  0.304679  0.923518  0.000679
2          부암동  0.568917  0.924518  0.056251  0.260088
3          평창동  0.580705  0.584580  0.844815  0.060866
4          무악동  0.139818  0.303443  0.598331  0.312935
..         ...       ...       ...       ...       ...
421       성내3동  0.080882  0.473552  0.109079  0.319963
422       둔촌1동  0.879560  0.419096  0.563044  0.629431
423       둔촌2동  0.984323  0.984479  0.826605  0.679809
424       상일1동  0.479461  0.830551  0.686072  0.301943
425       상일2동  0.115110  0.631008  0.212660  0.261508

[426 rows x 5 columns]

In [6]:
tmp_df.rename(columns={'Unnamed: 0':'동이름'},inplace=True)
tmp_df.set_index('동이름')

             A         B         C         D
동이름
사직동   0.756808  0.837151  0.367741  0.856218
삼청동   0.827742  0.304679  0.923518  0.000679
부암동   0.568917  0.924518  0.056251  0.260088
평창동   0.580705  0.584580  0.844815  0.060866
무악동   0.139818  0.303443  0.598331  0.312935
...        ...       ...       ...       ...
성내3동  0.080882  0.473552  0.109079  0.319963
둔촌1동  0.879560  0.419096  0.563044  0.629431
둔촌2동  0.984323  0.984479  0.826605  0.679809
상일1동  0.479461  0.830551  0.686072  0.301943
상일2동  0.115110  0.631008  0.212660  0.261508

[426 rows x 4 columns]

In [7]:
idx = tmp_df['동이름']

In [12]:
df = pd.DataFrame(tmp,index=idx,columns=['A','B','C','D','E','a','b','c','d','e','f','g','h','i'])
df

        A    B    C    D    E    a    b    c    d    e    f    g    h    i
동이름
사직동   0.6  0.1  0.8  0.4  0.8  0.5  0.4  0.7  0.2  0.5  0.7  0.1  0.7  0.7
삼청동   0.8  0.1  0.6  0.9  0.6  1.0  0.3  0.5  0.1  0.1  0.2  0.6  0.2  0.5
부암동   0.7  0.7  0.4  0.4  0.5  0.5  0.2  0.5  0.4  0.6  0.3  0.6  1.0  0.9
평창동   0.2  0.3  0.6  0.8  0.5  0.8  0.1  0.6  1.0  0.5  0.5  0.4  0.1  0.6
무악동   0.9  0.8  0.2  1.0  0.4  0.7  0.5  0.8  0.7  0.7  0.8  0.8  0.6  0.9
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
성내3동  0.1  0.7  0.3  0.7  0.4  0.7  0.2  0.7  0.2  0.5  0.1  0.1  0.9  0.1
둔촌1동  0.1  0.9  0.7  0.8  0.6  0.4  0.3  1.0  0.8  0.4  0.5  0.1  0.6  0.7
둔촌2동  0.2  0.1  0.3  0.7  0.6  0.9  0.8  0.8  0.7  0.4  0.9  0.9  0.4  1.0
상일1동  0.7  0.8  0.4  0.9  0.9  0.8  0.3  0.1  0.5  0.1  0.5  0.1  0.1  0.5
상일2동  0.7  0.1  0.1  0.1  0.5  0.2  0.1  1.0  0.1  0.3  0.9  0.2  0.9  0.2

[426 rows x 14 columns]

In [14]:
df.to_csv('data.csv')